@import './utils/_normalize'
@import './utils/_fonts' 
@import './modules/header/_header' 
@import './modules/home/_info' 
@import './modules/home/_process' 
@import './modules/home/_features' 
@import './modules/home/_advantages' 
@import './modules/footer/_footer' 
@import './modules/home/_active-clases' 



body
    background: #F4F5FA

body,html
    overflow-x: hidden
    

.container
    max-width: 1280px


.swiper-slide 
    display: grid
    justify-content: center

.swiper-pagination
    bottom: -60px
    left: 40%
    @media only screen and (max-width: 550px)
        left: 35%

.swiper-pagination-bullet 
    margin-left: 1rem

.swiper-pagination-bullet-active 
    background: #23C967


