.features
    margin: 0 0 243px 0
    @media only screen and (max-width: 1024px)
        margin: 145px 0 100px 0
    @media only screen and (max-width: 550px)
        margin: 0 0 0 0

    &__title
        font-family: 'Gilroy-Bold', sans-serif
        font-size: 40px;
        line-height: 48px;
        color: #1C154E;     
        text-align: center   
        margin: 0 0 70px 0
        @media only screen and (max-width: 550px)
            margin: 0 0 20px 0
            font-size: 26px
            text-align: left
        span
            color: #23C967;
            margin: 0 0 0 10px

    &__grid-wrap
        display: flex
        @media only screen and (max-width: 768px)
            padding-top: 2rem
            justify-content: center
            flex-wrap: wrap

    &__col
        background: #FFFFFF;
        box-shadow: 10px 10px 60px #E2E7FF;
        border-radius: 0px 50px 50px 50px;
        width: 430px
        height: 400px
        padding: 33px 50px 0 50px
        @media only screen and (max-width: 1024px)
            height: inherit
            padding: 33px 50px 2rem 50px
            margin-bottom: 1rem
        @media only screen and (max-width: 550px)
            width: 100%
            padding: 15px 25px 2rem 25px

    &__col+&__col
        margin: 0 0 0 40px
        @media only screen and (max-width: 768px)
            margin: 0 0 1rem 0

    &__pic-col
        width: 45px
        height: 50px
        margin: 1rem 0 2rem 0

    &__title-col
        font-family: 'Gilroy-Bold', sans-serif
        font-size: 18px;
        line-height: 134.9%;
        color: #1C154E;
        margin: 0 0 13px 0
        @media only screen and (max-width: 550px)
            font-size: 16px

    &__content-col 
        font-family: 'Gilroy-Medium', sans-serif
        font-size: 16px;
        line-height: 155%;
        color: #1c154ecc
        @media only screen and (max-width: 550px)
            font-size: 14px