.info
    margin: 75px 0 240px 0

    &__wrap
        display: flex
        justify-content: space-between


    &__title
        position: relative
        display: initial;
        font-family: 'Gilroy-Bold', sans-serif 
        font-size: 54px;
        line-height: 65px;
        color: #1C154E;

        &::after
            content: ''
            position: absolute
            right: -11px
            bottom: 13px
            background: #23C967
            width: 9px
            height: 9px
            border-radius: 50%

        span
            color: #23C967
            margin: 0 10px


    &__text
        font-family: 'Gilroy-Medium', sans-serif  
        font-size: 16px;
        line-height: 155%;      
        color: #1c154ecc 
        margin: 24px 0 0 0

    &__present-content+&__present-content
        margin: 129px 0 0 0

    &__subtitle
        font-family: 'Gilroy-SemiBold', sans-serif
        font-size: 25px;
        line-height: 134.9%;
        margin: 0 0 40px 0

        span
            color: #23C967
            margin: 0 5px 0 0

    &__cards-wrap
        display: flex
        align-items: center

    &__card
        display: grid
        width: 170px
        height: 230px
        padding: 14px 27px
        background: #FFFFFF;
        box-shadow: 10px 10px 15px #E7EAFA;
        border-radius: 0px 25px 25px 25px;

        img
            position: relative;
            margin-left: auto
            margin-right: auto

    &__card:first-child
        .info__subtitle-card
            top: 15px
            
        img
            top: 29px

    &__card:nth-child(2)
        margin: 0 0 0 19px

        .info__subtitle-card
            top: 10px

        img
            top: 24px
            margin-bottom: 15px
        
    &__card:last-child
        margin: 0 0 0 22px

        img
            top: 7px
            margin-bottom: 16px

        .info__subtitle-card
            top: 3px

    &__title-card
        font-family: 'Gilroy-Medium', sans-serif
        font-size: 15px;
        line-height: 18px;
        color: #1c154ecc 
        text-align: center

    &__subtitle-card
        position: relative
        font-family: 'Gilroy-SemiBold', sans-serif
        font-size: 13px;
        line-height: 130%;
        color: #E37488;
        text-align: center

    &__subtitle-card_active
        color: #23C967;

    &__form
        padding: 40px
        width: 510px
        height: 747px
        background: #FFFFFF;
        box-shadow: 10px 10px 60px #E2E7FF;
        border-radius: 0px 50px 50px 50px;

    &__label
        display: flex
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 145%;   
        margin: 0 0 9px 0   
        color: #1C154E;

    &__field
        height: 70px;
        border: 2px solid #E1E3EE;
        border-radius: 15px;
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px; 
        color: #1C154E;
        padding: 25px 19px
        width: 100%

        &::placeholder
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            line-height: 19px; 
            color: #A7A2CB;


        // &::-moz-placeholder      

    &__field+&__label
        margin-top: 10px

    &__title-form,
    &__title-product
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 25px;
        line-height: 134.9%;
        color: #1C154E;
        margin: 0 0 12px 0

    &__email
        display: flex
        flex-direction: column
        margin: 0 0 20px 0

    &__add-product
        position: relative
        margin: 15px 0 10px 0
        border: 0
        border: 2px solid #23C967;
        border-radius: 15px;
        background: transparent
        padding: 25px
        text-align: left
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px; 
        color: #23C967;
        width: 100%

        svg
            position: absolute
            top: 18px;
            right: 22px
            width: 16px;
            height: 33px;

        &::before
            content: ''
            position: absolute
            height: 71px
            width: 2px
            background: #23C967;
            right: 56px
            top: 0

    &__offer-text
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px; 
        color: #23C967;
        margin: 0 0 27px 0

    &__submit-btn
        padding: 20px
        width: 100%
        border: 0
        background: #23C967;
        border-radius: 15px;    
        font-family: 'Gilroy-Bold', sans-serif;    
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF
        margin: 0 0 9px 0
        
    &__text-info
        position: absolute
        left: 0;
        right: 0;
        display: flex
        align-items: center
        justify-content: center;

        svg
            width: 10px
            height: 12px
            margin: 0 5px 0 0

        p
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #A7A2CB;



    &__send-pay
        position: absolute;
        width: calc(100% - 80px);
        left: 0;
        right: 0;
        bottom: 67px;
        margin: auto;

    &__col:last-child
        position: relative

    &__subtitle-form
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 145%;
        color: #1c154ecc 
        display: block
        margin: 0 0 17px 0

    &__product
        display: flex
        align-items: center

    &__radio-field
        label
            cursor: pointer

    &__custom-radio 
        position: absolute;
        z-index: -1;
        opacity: 0;
      
    
    &__custom-radio+label
        display: inline-flex;
        align-items: center;
        user-select: none;
  
    

    &__custom-radio+label::before 
        content: '';
        display: inline-block;
        width: 26px
        height: 26px
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid #E1E3EE;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
 


    &__custom-radio:checked+label::before 
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='%2323C967'/%3E%3C/svg%3E%0A");     

    &__title-choose-product
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 16px;
        line-height: 20px;  
        margin: 0 0 11px 0       
   
    &__content-choose-product
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #A7A2CB;
  
    &__product.active-products
        .info__content-choose-product
            color: #23C967;


        

    &__product
        position: relative
        height: 90px
        padding: 20px 0 18px 67px
        border: 2px solid #E1E3EE;

    &__product:first-child
        border-radius: 15px 15px 0px 0px;
        border-bottom: 0

    &__product:nth-child(2),
    &__product:nth-child(3),
    &__product:nth-child(4)
        border-bottom: 0

    &__product:last-child
        border-radius: 0px 0px 25px 25px;

    &__radio-field
        position: absolute
        left: 20px
        top: 50%
        transform: translateY(-50%)

    //- выбор количества продуктов
    &__form-wrap.active-add-products
        .info__add-products-wrap
            display: block

        .info__text-info
            display: none

    &__add-products-wrap
        display: none

    //- начало оплаты и выбор количества продуктов
    &__form-wrap.active-beginning-pay
        .info__beginning-pay-wrap
            display: none

    &__delete-prodect-btn
        position: absolute
        top: 47px;
        left: 158px;
        display: flex
        border: 0
        background: transparent

        svg
            width: 20px
            height: 20px

    &__product-card+&__product-card
        margin: 20px 0 0 0


    &__product-cards-wrap
        display: none
        height: 540px;
        overflow-y: scroll;
        margin: 0 -20px 0 0
        padding: 0 15px 0 0
        scrollbar-color: #23C967 #E1E3EE
        scrollbar-width: thin;

    &__product-cards-wrap::-webkit-scrollbar
        width: 6px;

 
    &__product-cards-wrap::-webkit-scrollbar-thumb
        background: #23C967
        border-radius: 20px;


    &__product-cards-wrap::-webkit-scrollbar-track
        background: #E1E3EE
        border-radius: 20px;

    &__form-wrap.active-product-cards
        .info__product-cards-wrap
            display: block

    &__payment-successful
        display: none

    //- Удачная оплата

    &__form-wrap.active-payment-successful
        .info__payment-successful
            display: block     

        .info__text-info
            display: none

    &__succes-pic
        position: absolute;
        top: 47.5%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;       