.info
    margin: 75px 0 240px 0

    &__wrap
        display: flex
        justify-content: space-between


    &__col+&__col
        margin: 0 0 0 220px

    &__form-wrap
        width: 510px
        height: 747px
        background: #FFFFFF;
        box-shadow: 10px 10px 60px #E2E7FF;
        border-radius: 0px 50px 50px 50px;

    &__title
        position: relative
        display: initial;
        font-family: 'Gilroy-Bold', sans-serif 
        font-size: 54px;
        line-height: 65px;
        color: #1C154E;

        &::after
            content: ''
            position: absolute
            right: -11px
            bottom: 13px
            background: #23C967
            width: 9px
            height: 9px
            border-radius: 50%

        span
            color: #23C967
            margin: 0 10px


    &__text
        font-family: 'Gilroy-Medium', sans-serif  
        font-size: 16px;
        line-height: 155%;      
        color: #1c154ecc 
        margin: 24px 0 0 0

    &__present-content+&__present-content
        margin: 129px 0 0 0

    &__subtitle
        font-family: 'Gilroy-SemiBold', sans-serif
        font-size: 25px;
        line-height: 134.9%;
        margin: 0 0 40px 0

        span
            color: #23C967
            margin: 0 5px 0 0

    &__cards-wrap
        display: flex
        align-items: center

    &__card
        display: grid
        width: 170px
        height: 230px
        padding: 14px 27px
        background: #FFFFFF;
        box-shadow: 10px 10px 15px #E7EAFA;
        border-radius: 0px 25px 25px 25px;

        img
            position: relative;
            margin-left: auto
            margin-right: auto

    &__card:first-child
        .info__subtitle-card
            top: 15px
            
        img
            top: 29px

    &__card:nth-child(2)
        margin: 0 0 0 19px

        .info__subtitle-card
            top: 12px

        img
            top: 24px
            margin-bottom: 15px
        
    &__card:last-child
        margin: 0 0 0 22px

        img
            top: 7px
            margin-bottom: 16px

    &__title-card
        font-family: 'Gilroy-Medium', sans-serif
        font-size: 15px;
        line-height: 18px;
        color: #1c154ecc 
        text-align: center

    &__subtitle-card
        position: relative
        font-family: 'Gilroy-SemiBold', sans-serif
        font-size: 13px;
        line-height: 130%;
        color: #E37488;
        text-align: center

    &__subtitle-card_active
        color: #23C967;