.process
    margin: 0 0 240px 0
    @media only screen and (max-width: 1155px)
        display: none
    @media only screen and (max-width: 1024px)
        margin: 0 0 100px 0

    &__title
        font-family: 'Gilroy-Bold', sans-serif
        font-size: 40px;
        line-height: 48px;
        color: #1C154E;     
        text-align: center   
        margin: 0 0 90px 0
        @media only screen and (max-width: 1024px)
            margin: 0 0 0 0

        @media only screen and (max-width: 550px)
            font-size: 26px
            text-align: left

        span
            color: #23C967;
            margin: 0 0 0 10px


    &__grid-wrap
        position: relative
        display: flex
        padding-top: 90px
        align-items: center
        justify-content: space-between
        @media only screen and (max-width: 550px)
            margin-top: -30px

        &::before
            content: ''    
            position: absolute
            z-index: 1
            top: 115px
            left: 0
            width: 80%;
            height: 2px;
            background: linear-gradient(to right, #BFD7EC 12px, #0000 5px) repeat-x left/15px 16px;
            @media only screen and (max-width: 1155px)
               display: none

    &__dot
        position: relative
        width: 49px;
        height: 49px;
        background: #23C967;    
        border-radius: 50%   
        margin: 0 0 58px 0
        z-index: 1
        @media only screen and (max-width: 550px)
            margin: 0 0 20px 0
            font-size: 26px

        &::after, &::before
            content: '' 
            position: absolute
            width: 13px;
            height: 15px
            right: -13px;
            background: #F4F5FA;
            @media only screen and (max-width: 1155px)
               display: none

        &::after
            top: 16px;

        &::before
            top: 16px
            left: -13px

    &__col
        @media only screen and (max-width: 1155px)
            padding: 2rem
            border-radius: 15px
            background: #fff

    &__col:last-child
        &::after
            content: '';
            position: absolute;
            top: 12px;
            right: 0;
            width: 14.8%;
            height: 20px;
            z-index: 1;
            background: #F4F5FA;
            @media only screen and (max-width: 1155px)
                display: none


    &__title-col
        margin: 0 0 12px 0
        font-size: 18px;
        text-align: left
        line-height: 134.9%;
        font-family: 'Gilroy-Bold', sans-serif
        color: #1C154E;
        @media only screen and (max-width: 550px)
            font-size: 22px

    &__content-col
        font-family: 'Gilroy-Medium', sans-serif
        font-size: 16px;
        line-height: 155%;
        font-weight: 400;
        color: #1c154ecc 
        text-align: left