include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="Get a detailed patent and trademark check of a product that you are going to sell on Amazon by an experienced patent search consultant.")
		link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
		link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="shortcut icon" href="static/images/favicon.svg" type="image/x-icon")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		//- загрузка шрифтов
		<link rel="preload" href="/static/fonts/Gilroy/Gilroy-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">

		<link rel="preload" href="/static/fonts/Gilroy/Gilroy-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">

		<link rel="preload" href="/static/fonts/Gilroy/Gilroy-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous">

		<link rel="preload" href="/static/fonts/Gilroy/Gilroy-Medium.ttf" as="font" type="font/ttf" crossorigin="anonymous">

		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5C7WNTX');</script>

		block head
	
	body

		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5C7WNTX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	
		block content


		script(src="static/js/bundle.js")
		script(src="static/js/main.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
		script(src="static/js/slider.js")
		
		block script