extends layout/main

block variables
	-var title = 'Главная страница'

block head
	link(rel="stylesheet" type='text/css' href="static/css/home.css")

block content
	section
		h1
			|Главная
		.box
			button.close
				|Закрыть

		button.btn
			|Кнопка