extends layout/main

block variables
	-var title = 'Главная страница'

block head
	link(rel="stylesheet" type='text/css' href="static/css/home.css")

block content
	.header
		.container
			.header__wrap
				.header__logo-content
					p
						|Check for patent
					span
						|Designed for 
						
						img(src="/static/images/content/logo-amazon.png", alt="Logo Amazon")
						
						|Sellers
				nav.header__nav-menu
					ul.header__menu-list
						li
							a(href="") 
								|Main
						li
							a(href="") 
								|Flow
						li
							a(href="") 
								|Benefits
						li
							a(href="") 
								|Contacts

				button.header__consult-btn
					|Get a Free Consultation