extends layout/main

block variables
	-var title = 'Главная страница'

block head
	link(rel="stylesheet" type='text/css' href="static/css/home.css")

block content
	header.header
		.container
			.header__wrap
				.header__logo-content
					p
						|Check for patent
					span
						|Designed for 
						
						img.header__logo(src="/static/images/content/logo-amazon.png", alt="Logo Amazon")
						
						|Sellers
				nav.header__nav-menu
					ul.header__menu-list
						li
							a(href="") 
								|Main
						li
							a(href="") 
								|Flow
						li
							a(href="") 
								|Benefits
						li
							a(href="") 
								|Contacts

				button.header__consult-btn
					|Get a Free Consultation

		

	section.info
		.container
			.info__wrap

				.info__col 
					.info__present-content
						h1.info__title
							|Patent
							span
								|Check<br>
							|Of Your Amazon <br> Future Product
						
						p.info__text
							|Get a detailed patent and trademark check of a product <br> that you are going to sell on Amazon by an experienced <br> patent consultant.

					.info__present-content
						p.info__subtitle
							span
								|Protect yourself
							|and make sure you are <br> not selling someone's patented invention.

						.info__cards-wrap
							.info__card
								p.info__title-card
									|Sylicon wine cap
								img.info__pic-card(src="/static/images/content/card-1.png", alt="the image is missing")
								p.info__subtitle-card
									|Active patent <br> High  risk to sell

							.info__card
								p.info__title-card
									|Shower head <br> with mineral filler
								img.info__pic-card(src="/static/images/content/card-2.png", alt="the image is missing")
								p.info__subtitle-card.info__subtitle-card_active
									|Expired patent <br> Totally safe to sell

							.info__card
								p.info__title-card
									|Full Face <br> Snorkel Mask
								img.info__pic-card(src="/static/images/content/card-3.png", alt="the image is missing")
								p.info__subtitle-card
									|Active patent <br> High  risk to sell


				//- info__form-wrap.active-add-products - выбор количества продуктов

				//- .info__form-wrap.active-beginning-pay - начало оплаты и выбор количества продуктов

				//- .info__form-wrap.active-product-cards - выбранные продукты

				//- .info__form-wrap.active-payment-successful - оплата успешна

				//- .info__form-wrap.active-payment-failed - ошибка оплаты

				.info__col
					.info__form-wrap
						form.info__form(action="#" method="POST")

							//- 1. Изначальное состояния выбора количества продуктов
							.info__beginning-pay-wrap
								p.info__title-form
									|Info
								.info__email
									label.info__label(for="email")
										|Enter your email address
									input#email.info__field(type="email", name="email" placeholder="team@checkforpatent.com")

								.info__product-wrap
									p.info__title-product
										|Product 1

									label.info__label(for="keyword")
										|Enter main keyword for the product
									input#keyword.info__field(type="text", name="keyword" placeholder="for example, sylicon wine cup")  

									label.info__label(for="keyword")
										|Enter link to the similar product as a reference
									input#keyword.info__field(type="text", name="keyword" placeholder="https://...")  

									button.info__add-product
										span
											|Add more products
										+icon('plus')

									p.info__offer-text
										|We offer discount up to 36% for multiple checks

							//- 2. Выбор количества продуктов
							.info__add-products-wrap
								p.info__title-form
									|Adding more products
								span.info__subtitle-form
									|The more items you check, the better the price.

								.info__products

									//- .info__product.active-products - выбранный вариант
									.info__product.active-products
										.info__radio-field
											input#product5.info__custom-radio(type="radio", name="product" checked)
											label(for="product5") 
																
										.info__text-product
											p.info__title-choose-product
												|5 products for 80 usd / 16$ for each
											p.info__content-choose-product
												|You safe 36% on each patent check 

									.info__product
										.info__radio-field
											input#product4.info__custom-radio(type="radio", name="product")
											label(for="product4") 
																
										.info__text-product
											p.info__title-choose-product
												|4 products for 72 usd / 18$ for each
											p.info__content-choose-product
												|You safe 28% on each patent check  

					
									.info__product
										.info__radio-field
											input#product3.info__custom-radio(type="radio", name="product")
											label(for="product3") 
																
										.info__text-product
											p.info__title-choose-product
												|3 products for 60 usd / 20$ for each
											p.info__content-choose-product
												|You safe 20% on each patent check  

									.info__product
										.info__radio-field
											input#product2.info__custom-radio(type="radio", name="product")
											label(for="product2") 
																
										.info__text-product
											p.info__title-choose-product
												|2 products for 44 usd / 22$ for each
											p.info__content-choose-product
												|You safe 12% on each patent check 

									.info__product
										.info__radio-field
											input#product1.info__custom-radio(type="radio", name="product")
											label(for="product1") 
																
										.info__text-product
											p.info__title-choose-product
												|1 product for 24.99 usd 

							//- 3. Сами продукты
							.info__product-cards-wrap
								.info__product-card
									button.info__delete-prodect-btn
										+icon('delete')
									p.info__title-product
										|Product 1

									label.info__label(for="keyword")
										|Enter main keyword for the product
									input#keyword.info__field(type="text", name="keyword" placeholder="for example, sylicon wine cup")  

									label.info__label(for="keyword")
										|Enter link to the similar product as a reference
									input#keyword.info__field(type="text", name="keyword" placeholder="https://...")  	

								.info__product-card
									button.info__delete-prodect-btn
										+icon('delete')
									p.info__title-product
										|Product 2

									label.info__label(for="keyword")
										|Enter main keyword for the product
									input#keyword.info__field(type="text", name="keyword" placeholder="for example, sylicon wine cup")  

									label.info__label(for="keyword")
										|Enter link to the similar product as a reference
									input#keyword.info__field(type="text", name="keyword" placeholder="https://...")  								

								.info__product-card
									button.info__delete-prodect-btn
										+icon('delete')
									p.info__title-product
										|Product 3

									label.info__label(for="keyword")
										|Enter main keyword for the product
									input#keyword.info__field(type="text", name="keyword" placeholder="for example, sylicon wine cup")  

									label.info__label(for="keyword")
										|Enter link to the similar product as a reference
									input#keyword.info__field(type="text", name="keyword" placeholder="https://...")  	

								.info__product-card
									button.info__delete-prodect-btn
										+icon('delete')
									p.info__title-product
										|Product 4

									label.info__label(for="keyword")
										|Enter main keyword for the product
									input#keyword.info__field(type="text", name="keyword" placeholder="for example, sylicon wine cup")  

									label.info__label(for="keyword")
										|Enter link to the similar product as a reference
									input#keyword.info__field(type="text", name="keyword" placeholder="https://...")

								.info__product-card
									button.info__delete-prodect-btn
										+icon('delete')
									p.info__title-product
										|Product 5

									label.info__label(for="keyword")
										|Enter main keyword for the product
									input#keyword.info__field(type="text", name="keyword" placeholder="for example, sylicon wine cup")  

									label.info__label(for="keyword")
										|Enter link to the similar product as a reference
									input#keyword.info__field(type="text", name="keyword" placeholder="https://...")


							//- 4. Удачная оплата
							.info__payment-successful
								p.info__title-form
									|Successfull payment
								p.info__subtitle-form
									|Your request has been accepted and will be processed within 24 working hours. We will send you a payment details and all information to your email.			
								img.info__succes-pic(src="/static/images/content/succes-pic.png", alt="the image is missing")

							//- 5. Ошибка оплаты
							.info__payment-failed
								p.info__title-form
									|Your payment failed
								p.info__subtitle-form
									|Sorry, but we’ve having trouble processing your payment. You have been not charged for this transaction.		
								img.info__succes-pic(src="/static/images/content/failed-pic.png", alt="the image is missing")

							//- кнопка оплаты
							.info__send-pay
								button.info__submit-btn(type="submit")
									|Submit and Pay 24.99 USD 

								.info__text-info
									.info__secure-icon
										+icon('secure')
									p
										|Secure payment with Stripe 


	section.process
		.container
			.process__wrap
				h2.process__title
					|The process we
					span
						|follow
				.process__grid-wrap
					.process__col
						.process__dot
						p.process__title-col
							|Fill in the form
						p.process__content-col
							|Fill in the form and enter the <br> product names you want to <br> check
					.process__col
						.process__dot
						p.process__title-col
							|Research 
						p.process__content-col
							|We conduct a wide and detailed <br> search and analyze similar <br> patents 
					.process__col
						.process__dot
						p.process__title-col
							|Send result
						p.process__content-col
							|We will process your request <br> and send you a reply withinone <br> working day
					.process__col
						.process__dot
						p.process__title-col
							|Answer questions
						p.process__content-col
							|If you have any questions about <br> our search, we will be happy to <br> answer them

	section.features
		.container
			.features__wrap
				h2.features__title
					|Core
					span
						|features
			.features__grid-wrap
				.features__col
					img.features__pic-col(src="/static/images/content/features-1.png", alt="the image is missing")
					p.features__title-col
						|In-depth analysis <br> of your request
					p.features__content-col 
						|We conduct an extensive research in patent registries of the US and Europe. You will receive information if product patent exists or not, as well as a list of registered trademarks in this product category.
				.features__col
					img.features__pic-col(src="/static/images/content/features-2.png", alt="the image is missing")
					p.features__title-col
						|Conducted over <br> 1000 searches
					p.features__content-col 
						|Over the past few years, we have conducted thousands of product patent and trademark checks, thereby helping our customers to make the right choice of products to launch under their own brand on Amazon.
				.features__col
					img.features__pic-col(src="/static/images/content/features-3.png", alt="the image is missing")
					p.features__title-col
						|Non-disclosure <br> agreement
					p.features__content-col 
						|We value your trust and promise not to share your data or use your requests for commercial purposes. Your requests are stored on a secure server that only our employees have access to.


	section.advantages
		.container
			.advantages__wrap
				h2.advantages__title
					|Why work with
					span
						|us
				.advantages__content
					p
						|A carefully thought-out strategy is the key to a successful business start. By launching a new product on Amazon you invest your time and financial resources. It is necessary to consider all possible pitfalls that may arise during the start-up of a new business. 
					p
						span
							|Make sure that your product is not patented
						|and you do not use hidden trademarks in the description to avoid the unfortunate blocking of the product once it is on the market. Entrust this work to professionals to minimize your risks.
				img.advantages__pic(src="/static/images/content/circle.png", alt="the image is missing")


	footer.footer
		.container
			.footer__wrap
				.footer__col.footer__company
					p
						|Check for patent
					span
						|West Trade Compass LLC 
				.footer__col.footer__address
					p
						|3422 Old Capitol Trail, Suite 107
					p
						|Wilmington, Delaware 19808
				.footer__col.footer__contact
					a(href="mailto:team@checkforpatent.com")
						|team@checkforpatent.com