extends layout/main

block variables
	-var title = 'Главная страница'

block head
	link(rel="stylesheet" type='text/css' href="static/css/home.css")

block content
	.header
		.container
			.header__wrap
				.header__logo-content
					p
						|Check for patent
					span
						|Designed for 
						
						img(src="/static/images/content/logo-amazon.png", alt="Logo Amazon")
						
						|Sellers
				nav.header__nav-menu
					ul.header__menu-list
						li
							a(href="") 
								|Main
						li
							a(href="") 
								|Flow
						li
							a(href="") 
								|Benefits
						li
							a(href="") 
								|Contacts

				button.header__consult-btn
					|Get a Free Consultation

	.info
		.container
			.info__wrap

				.info__col 
					.info__present-content
						h1.info__title
							|Patent
							span
								|Check
							|Of Your Amazon <br> Future Product
						
						p.info__text
							|Get a detailed patent and trademark check of a product <br> that you are going to sell on Amazon by an experienced <br> patent consultant.

					.info__present-content
						p.info__subtitle
							span
								|Protect yourself
							|and make sure you are not selling someone's patented invention.

						.info__cards-wrap
							.info__card
								p.info__title-card
									|Sylicon wine cap
								img.info__pic-card(src="/static/images/content/card-1.png", alt="the image is missing")
								p.info__subtitle-card
									|Active patent <br> High  risk to sell

							.info__card
								p.info__title-card
									|Shower head <br> with mineral filler
								img.info__pic-card(src="/static/images/content/card-2.png", alt="the image is missing")
								p.info__subtitle-card.info__subtitle-card_active
									|Expired patent <br> Totally safe to sell

							.info__card
								p.info__title-card
									|Full Face <br> Snorkel Mask
								img.info__pic-card(src="/static/images/content/card-3.png", alt="the image is missing")
								p.info__subtitle-card
									|Active patent <br> High  risk to sell



				.info__col 
					form.info__form-wrap(action="#" method="POST")


