.header
    padding: 60px 0 0 0

    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
        
    &__logo-content
        p
            font-family: 'Gilroy-Bold', sans-serif
            font-size: 19px;
            line-height: 23px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #1C154E;  
            margin: 0 0 8px 0    

        span
            font-family: 'Gilroy-SemiBold', sans-serif
            font-size: 16px;
            line-height: 134.9%;
            color: #1c154ecc
            display: flex
            width: fit-content;

            img
                margin: 6px 7px 0 7px
         
    &__menu-list
        display: flex
        align-items: center

        li
            a
                font-family: 'Gilroy-Regular', sans-serif                
                font-size: 16px;
                line-height: 145%;
                color: #1C154E;

        li+li
            margin: 0 0 0 68px


    &__consult-btn
        padding: 13px 41px
        height: 45px
        background: #1C154E;
        border-radius: 15px;
        font-family: 'Gilroy-Bold', sans-serif 
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        border: 0
